body {
    flex-direction: column;
    margin: 0px;
    flex-grow: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: #f0f2f5;
}

#content-area {
    flex-grow: 1;
}

.borderstyle {
    border-bottom: 1px solid #ced0d4;
    margin: 0px 0px 0px 5px;
}

header * {
    display: flex;
    flex-direction: row;
}
header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-bottom: 2px solid #d0d2d7;
    margin: 0px;
    padding-left: 5px;
}
header section {
    justify-content: center;
    align-items: center;  
}
#facebook {
    padding-left: 10px;
}
input {
    height: 40px;
    width: 600px;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    border-style: hidden;
    background-color:#f1f2f6;
    font-size: 16px;
}
input:hover {
    background-color: #e4e6e9;
}
header nav {
    height: inherit;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
header nav ul>li {
    min-width: 40px;
    background-color: #e4e6eb;
    border-radius: 50%;
    font-size: 30px;
    margin-left: 10px;
}
header nav ul>li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
header nav ul>li:hover { 
    background-color: #d8dadf;
    cursor: pointer;
}

#content-area aside {
    flex-grow: 0.01;
}
#content-area main {
    flex-grow: 3;
}
#content-area sidebar {
    width: 375px;
    word-wrap: break-word;
}

aside {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    padding: 0px 50px 0px 10px;
}
aside img {
    border-radius: 50%;
    position: relative;
    top: 5px;
    bottom: 5px;
    right: 2px;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
aside span {
    text-align: left;
}
aside div {
    flex-direction: row;
    margin: 16px 0px 16px 0px;
}
aside div:hover {
    background-color: #e4e6e9;
    border-radius: 10%;
    cursor: pointer;
}

#groups {
    line-height: 16px;
}
#groups img {
    border-radius: 25%;
    position: relative;
    top: 5px;
    bottom: 5px;
    right: 2px;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
i {
    font-size: 18px;
    margin-right: 10px;
}
#section-end {
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
    padding-top: 5px;
    color: gray;
}

sidebar {
    display: flex;
    flex-direction: column;
    line-height: 24px;
}
sidebar span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
sidebar nav {
    display: flex;
    flex-direction: row;
    height: inherit;
    min-width: 100px;
}
sidebar p:hover {
    background-color: #e4e6e9;
    border-radius: 10%;
    cursor: pointer;
}
#profpic img {
    border-radius: 50%;
    position: relative;
    top: 5px;
    bottom: 5px;
    right: 2px;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

main * {
    display: flex;
    flex-direction: column;
}
main {
    align-items: center;
    margin-top: 25px;
    flex-direction: column;
    display: flex;
}
main img:hover {
    cursor: pointer;
}
#main-content {
    text-align: center;
    width: 690px;
    box-shadow: 0px 3px 5px #ccc;
    background-color: white;
    border-radius: 10px;
    padding-left: 5px;
}

main section1 {
    height: 300px;
}
section1 section{
    flex-direction: row;
    height: 40px;
    padding-top: 20px;
}
section1 nav {
    height: 300px;
}
section1 div {
    height: 200px;
    width: 100px;
    box-shadow: 0px 3px 5px #ccc;
    background-color: white;
    margin-left: 10px;
    word-wrap: break-word;
    border-radius: 20px;
}
section1 span {
    flex-direction: row;
    justify-content: center;
}
section1 span:hover {
    cursor: pointer;
}
#Reels:hover {
    cursor: pointer;
    background-color: #e4e6e9;
}
.story-color {
    color: #1876f2;
}

#main-story {
    margin: 0px; 
    height: 50px;
    font-size: 14px;
    padding-top: 25px;
    border-radius: 0px 0px 20px 20px;
    position: relative;
    top: 125px;
    color: black;
}
#stories{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#stories div:hover {
    opacity: 0.5;
    cursor: pointer;
}
#stories p {
    padding: 0px 10px 0px 10px;
    font-size: 12px;
    color: white;
    text-align: left;
    position: relative;
    top: 150px;
}

main section2 {
    height: 110px;
    margin-top: 25px;
}
section2 section {
    flex-direction: row;
    height: 40px;
    padding-top: 10px;
}
section2 nav div:hover {
    cursor: pointer;
    background-color: #e4e6e9;
    border-radius: 10%;
}
#section-nav {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    font-weight: normal;
    margin-left: 5px;
}

main section3 {
    height: 300px;
    margin-top: 25px;
}
section3 section {
    flex-direction: row;
    height: 100px;
    padding-top: 10px;
}
section3 nav {
    border-bottom: 1px solid #ced0d4;
    border-top: 1px solid #ced0d4;
}
section3 nav div:hover {
    cursor: pointer;
    background-color: #e4e6e9;
    border-radius: 10%;
}
#feed {
    padding: 5px 0px 10px 10px;
    text-align: left;
    font-size: 26px;
    font-weight: normal;
}


